.container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: all .2s;
    
    &:hover {
        box-shadow: var(--shadow-sm);
        background-color: var(--color-white);
    }
}

.active {
    border: 1px solid var(--color-primary);
    background-color: var(--color-white);
    box-shadow: var(--shadow-sm);

    .icon {
        fill: var(--color-primary);
    }
}

.icon {
    transition: fill .2s;
    fill: var(--color-black);
}

